.team-heading {
  background-color: #424242;
}

/* .employee-card {
  margin-right: 10px;
} */

.card {
  margin: 10px;
}

.card-header, .team-heading {
    color: white;
}

.team-area {
  background-color: #eeeeee;
}

.employee-title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 0;
  /* justify-content: left; */
}

.manager .card .card-header {
    background-color: #FC4A1A; 
    /* #ff8f00; */
}
.manager a {
    color: hsl(13, 97%, 40%);
}

.engineer .card .card-header {
    background-color: #4ABDAC;
}

.engineer a {
    color: hsl(171, 47%, 40%);
}

.intern .card .card-header {
    background-color: #F7B733;
}

.intern a {
    color: hsl(40, 92%, 40%);
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
