.team-heading {
    background-color: #ff6e40;
}

.employee-card {
    margin-right: 10px;
}

.card-header {
    background-color: #ff9e80;
}

.card {
    margin: 10px;
}

a {
    color: #bf360c;
}

.container :nth-child(1).row .team-area {
    background-color: #eeeeee;
}

.container :nth-child(2).row .team-area {
    background-color: #ffffff;
}

.container :nth-child(3).row .team-area {
    background-color: #eeeeee;
}
